## **QUESTION 2**

### **Create a data set with following entries:**

In [1]:
import pandas as pd
temperature_df= {
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30]
}
df1=pd.DataFrame(temperature_df)
df1

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

### **Add another column named event with values [Humid,Dry,Rain]**

In [2]:
event=['Humid','Dry','Rain']
df1.insert(2,'Event',event)
df1

       city  temperature  Event
0    mumbai           32  Humid
1     delhi           45    Dry
2  banglore           30   Rain

### **Export**

In [3]:
df1.to_csv("temperature_final.csv",index=False)
df1.to_excel("temperature_final.xlsx",index = False)